body {
    padding: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

.main {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.task__bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
}



.task__bar_dashboard {
    margin-bottom: 30px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    transition: 1s all ease-in-out;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}

.analytics {
    margin-bottom: 40px;
}

.teams {
    margin-bottom: 40px;
}

.documents {
    margin-bottom: 40px;
}

.setting {
    margin-bottom: 80px;
}

.analytics:hover,.teams:hover,.documents:hover,.setting:hover {
/* 
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%; */
    cursor: pointer;
    transition: 200ms all ease-in-out;
}






.main__task {
    width: 35%;
    margin-left: 40px;
}



.profile__section {
    width: 45%;
}


.tasker__welcome {
    color: #9e9ea7;
}

.task__specification {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
}

.task__insearch {
    margin-top: 25px;
    font-size: 15px;
    color: #9e9ea7;
    border: none;
    outline: none;
    padding: 17px;
    border-radius: 12px;
    padding-right: 40%;
    background: #e7e7e9;
}


.my__tasks {
    margin-top: 30px;
}

.my__task__head {
    font-size: 25px;
    font-weight: 800;
}



/* timeline */
.task__timeline {
    display: flex;
    flex-direction: row;
    padding-right: 12px;
    margin-top: 12px;
    color: #8a8a91;
    margin-bottom: 12px;
}

.ttask {
    margin: 10px;
}

.ttask:hover {
    color: #29A746;
    cursor: pointer;
}

.recent__task {
    color: rgb(255, 188, 5);
}

/* task list */

.task__list {
    overflow-y:scroll;
    height: 370px;
}

div.task__list::-webkit-scrollbar {
    background-color: rgba(19, 18, 18, 0.022);
    width: 7px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-clip: content-box;
    margin-bottom:310px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    max-height: 10px;
    background-color: rgb(233, 190, 0);
}


.user__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.image__profile {
    border-radius: 50%;
    height: 8%;
    width: 8%;
    object-fit: fill;
}

.index__task, .index__task2 {
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    width: 60%;
    padding-bottom: 90px;
    text-align: left;
    padding-right: 80px;
}

.index__task2 {
    background-color: #000000;
    color: white;
    margin-top: 20px;
}

.main__addtask {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left_panel__addtask {
    width: 35%;
}

.main_addtask__section {
    margin-top: 4%;
    
}

.addtask__head {
    font-size: 20px;
    font-weight: 700;
}

.task__addname,.task__adddate, .task__addtime {
    margin-top: 20px;
    color: #9e9ea7;
}

.add__taskname, .add__tasktime, .add__taskdate {
    margin-top: 15px;
    font-size: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.final__addtasks {
    margin-top: 30%;
    text-align: center;
}

.button__addtask {
    outline: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(126, 1, 175);
    color: white;
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}


