body {
  padding: 0px;
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

.main {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.task__bar {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 700;
}



.task__bar_dashboard {
  margin-bottom: 30px;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  transition: 1s all ease-in-out;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}

.analytics {
  margin-bottom: 40px;
}

.teams {
  margin-bottom: 40px;
}

.documents {
  margin-bottom: 40px;
}

.setting {
  margin-bottom: 80px;
}

.analytics:hover,.teams:hover,.documents:hover,.setting:hover {
/* 
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%; */
  cursor: pointer;
  transition: 200ms all ease-in-out;
}






.main__task {
  width: 40%;
  margin-left: 40px;
}



.profile__section {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
}


.tasker__welcome {
  color: #9e9ea7;
}

.task__specification {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 800;
}

.task__insearch {
  margin-top: 25px;
  font-size: 15px;
  color: #9e9ea7;
  border: none;
  outline: none;
  padding: 17px;
  border-radius: 12px;
  padding-right: 40%;
  background: #e7e7e9;
}


.my__tasks {
  margin-top: 30px;
}

.my__task__head {
  font-size: 25px;
  font-weight: 800;
}



/* timeline */
.task__timeline {
  display: flex;
  flex-direction: row;
  padding-right: 12px;
  margin-top: 12px;
  color: #8a8a91;
  margin-bottom: 12px;
}

.ttask {
  margin: 10px;
}

.ttask:hover {
  color: #29A746;
  cursor: pointer;
}

.recent__task {
  color: rgb(255, 188, 5);
}

/* task list */

.task__list {
  overflow-y:scroll;
  position: relative;
  height: 370px;
}

div.task__list::-webkit-scrollbar {
  background-color: rgba(19, 18, 18, 0.022);
  width: 7px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-clip: content-box;
  margin-bottom:100px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  max-height: 10px;
  background-color: rgb(233, 190, 0);
}


.user__profile {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;
  margin-left: 25px;
}


.image__profile {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.user__detailss {
  left: 15%;
  position: absolute;
  top: 10%;
}

.user__designation {
  color: #49494969;
  font-size: 14px;
  margin-top: 2px;
}


.project__time__tracker {
  background-color: rgba(255, 255, 255, 0.807);
  padding: 25px;
  position: absolute;
  display: flex;
  top: 15%;
  right: 12%;
  border-radius: 10px;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
  margin-top: 10px;
}

.hhtt {
  color: rgba(143, 143, 143, 0.61);
  font-size: 14px;
  margin-top: 20px;
}


.play__button__icon {
  margin-left: 120px;
  margin-bottom: 10px;
  background-color: #E9BE00;
  padding: 10px;
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}









.index__task {
  box-shadow: rgba(7, 20, 43, 0.613) 0px 10px 30px -15px;
  
  border-radius: 20px;
  width: 80%;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.index__task:hover {
    opacity: 0.95;
}

.rem__task {
    /* background-color: #FF5D5C;
    border-radius: 50%;
    padding-right: 6.2px;s
    padding-left: 6.2px;
    font-size: 8px; */
    
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    margin-right: -420px;
    
}

.toggle__remind{
    border: none;
    outline: none;
    background: #F6D9DD;
    color: #D8596C;
    padding: 7px;
    border-radius: 10px;
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
    transition: 400ms all ease-in-out;
    
  font-family: 'Mukta', sans-serif;
}

.toggle__remind:hover {
    background-color: transparent;
    border: 1px solid #D8596C;
    transition: 200ms all ease-in-out;
    cursor: pointer;
}


.index__task2 {
  background-color: #000000;
  color: white;
  margin-top: 20px;
}

.main__addtask {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left_panel__addtask {
  width: 35%;
}

.main_addtask__section {
  margin-top: 4%;
  
}

.addtask__head {
  font-size: 20px;
  font-weight: 700;
}

.task__addname,.task__adddate, .task__addtime {
  margin-top: 20px;
  color: #9e9ea7;
}

.add__taskname, .add__tasktime, .add__taskdate {
  margin-top: 15px;
  font-size: 17px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}

.final__addtasks {
  margin-top: 30%;
  text-align: center;
}

.button__addtask {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(126, 1, 175);
  color: white;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}


.add__task__hover {
  background-color: rgba(255, 255, 255, 0.925);
  height: 100vh;
  width: 100%;
  left: 0;
  margin-left: -103%;
  margin-top: 20px;
  z-index: 20;
}

.calendar__events {
  position: absolute;
  top: 40%;
  display: flex;
  margin-left: 30px;
}

.date__cal__detail {
  font-size: 20px;
  color: #64646480;
}

.hiic {
  color: #000000;
  font-size: 26px;
  font-weight: 900;
}




.add_task__buttons {
  background-color: black;
  color: white;
  display: inline;
  padding: 15px;
  margin-left: 80px;
  font-size: 18px;
  padding-right: 45px;
  padding-left: 45px;
  border-radius: 17px;
  
}

.add_task__buttons:hover {
  cursor: pointer;
}


.container {
  right: -350px;
  top: 80px;
  position: absolute;
  height: 70vh;
  width: 280px;
  border-radius: 18px;
  background-color: #FFE4D4;
  text-align: center;
  box-shadow: rgba(2, 12, 27, 0.7) 15px 20px 40px -15px;
  transition: 1s all ease-in-out;
}

.upper__container {
  height: 22vh;
}

.below__container {
  background-color: white;
  border-radius: 12px;
  height: 50vh;
}

.add__task {
  font-family: 'Roboto', sans-serif;
  line-height: 30px;
  font-size: 22px;
  color: rgb(71, 67, 67);
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.backwards {
  text-align: left;
  margin-left: 20px;
  padding-top: 10px;
}

.backwards:hover {
  cursor: pointer;
}

#no__dis {
    display: none;
    height: 0;
}

.task__name {
  text-align: center;
  font-weight: 500;
  
  font-family: 'Mukta', sans-serif;
  font-size: 24px;
}

.task__name_input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(78, 71, 71);
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: #FFE4D4;
  margin-right: 58px;
  font-size: 14px;
  font-weight: 500;
  color: gray;
}



.date__name {
  padding-top: 10px;
}


.add__notesa {
  text-align: left;
  padding-left: 20px;
  font-size: 11px;
  font-weight: 500;
  color: #4d4b49af;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;   
  padding-top: 20px;
}


.notes__input {

  border: none;
  outline: none;
  border-bottom: 1px solid rgba(129, 125, 125, 0.425);
  padding-top: 4px;
  padding-right: 40px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  color: gray;
  font-size: 14px;
}



.write__name, .date__name, .time__name, .notes__dataa {
  text-align: left;
  padding-left: 20px;
  font-size: 11px;
  font-weight: 500;
  color: #4d4b49af;
  font-family: 'Roboto', sans-serif;
}

.time__name {
  padding-top: 20px;
}

.date__input, .time__input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(129, 125, 125, 0.425);
  padding-top: 4px;
  padding-right: 40px;
  padding-bottom: 4px;
  margin-left: 21px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
  color: gray;
  font-size: 14px;
}

.date__data, .time__data {
  display: flex;  
} 

.date__logo, .clock__icon {
  font-size: 10px;
  color: rgba(35, 35, 73, 0.548);
  cursor: pointer;
  border-bottom: 1px solid rgba(129, 125, 125, 0.425);
}

.get__task {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(78, 71, 71);
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: #FFE4D4;
  margin-right: 43px;
  font-size: 16px;
  font-weight: 500;
  color: gray;
}


.category {
  margin-top: -150px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  
}

.cat__title {
  font-size: 14px;
  text-align: left;
  padding-left: 24px;
  padding-bottom: 10px;
  color:rgba(77, 76, 76, 0.61);
}

.study {
  background-color: #FDDAEA;
  display: inline-block;
  color: #fa72af;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.prod {
  background-color: #F6D9DD;
  display: inline-block;
  color: #D8596C;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
}

.life {
  background-color: #D9DCEA;
  display: inline-block;
  color: #425195;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
}

.button__add {
  background-color: #425195;
  display: inline-block;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
}

.plus__sign {
  color: white;
  background-color: #d9dcea2f;
  display: inline-block;
  border-radius: 50%;
  text-align: start;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  padding-top: 2px;
  margin-left: -110px;
  font-weight: 600;
}

.add__title {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 550;
  margin-top: -17px;
  padding-left: 10px;
}

button {
  border: none;
  outline: none;
}

