{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>NotTask</title>
</head>
<body>
    <div class="main__addtask">
        <div class="left_panel__addtask">
            Left Panel
        </div>

        <div class="main_addtask__section">
            <div class="addtask__head"> Create 
                <br /> New Task
            </div>

            <div class="task__addname">Name</div>

            <input type="text" placeholder="Task Name" class="add__taskname"/>
            
            <div class="task__adddate">Date</div>

            <input type="text" placeholder="Add Date" class="add__taskdate"/>

            <div class="task__addtime">Time</div>

            <input type="text" placeholder="Add Time" class="add__tasktime"/>

            <div class="final__addtasks">
                <button class="button__addtask">Add Task</button>
            </div>
            
        </div>


        
    </div>
</body>
</html>