{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>NotTask</title>
</head>
<body>
    <div class="main">
        <div class="task__bar">Taskbar</div>

        <!-- Main Task Panel -->
        <div class="main__task">
            <div class="tasker__welcome"> Hello Jessica!</div>

            <div class="task__specification">
                Youve got <br/>
                <span> 10 </span>
                tasks today
            </div>

            <div class="task__search">
                    <input class="task__insearch" type="text" placeholder="search something"/>
            </div>

            <div class="my__tasks">
                <div class="my__task__head">My Tasks</div>

                <div class="task__timeline">
                    <div class="recent__task ttask">Recent</div>
                    <div class="today__tas ttask">Today</div>
                    <div class="upcoming__task ttask">Upcoming</div>
                    <div class="Later__tasks ttask">Later</div>
                </div>

                <div class="task__list">
                    <div class="index__task">
                        <h3 class="task__name"> Task Name </h3>
                        <div class="task__description">Make a Landing Page and MObile App</div>
                        <div className="Reminder Button">
                            Reminder button
                        </div>
                    </div>


                    <div class="index__task2">
                        <h3 class="task__name"> Task Name 2 </h3>
                        <div class="task__description">Make a Landing Page and MObile App</div>
                        <div className="Reminder Button">
                            Reminder button
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Section -->
        <div class="profile__section">Profile Scs
            <a href ="{% url 'addtask' %}">Add Tasks</a> 
        </div>
    </div>
</body>
</html>
