{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/maa.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
    <title>NotTask</title>
    <style>
        .settings__icon {
            position: absolute;
            right: 40%;
            top: 30%;
            cursor: pointer;
        }
        .setting__tab {
            position: absolute;
            right: 24%;
            background-color:whitesmoke;
            z-index: 90;
            top: 75%;
            border-radius: 15px;
            box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
            height: 0px;
            width: 200px;
            text-align: center;
            transition: 500ms all ease-in-out;
        }

        .text__onclick {
            position: absolute;
            color: black;
            font-size: 22px;
            background-color: #F6D9DD;
            padding: 10px;
            display: block;
            padding-right: 50px;
            padding-left: 50px;
            border-radius: 15px;
            box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
            right: 20px;
            top: 10px;
            text-decoration: none;
            color: #D8596C;
            display: none;
            transition: 500ms all ease-out;
        }

        .ssu {
            background: none;
            opacity: 0.5;
            position: absolute;
            top: 178px;
            left: 46%;
            cursor: pointer;
        }

        .text__onclick:hover {
            color: gray;
            background: transparent;
            transition: 500ms all ease-out;
        }

        .aabout {
            color: black;
            text-decoration: none;
        }


        .baack {
            position: absolute;
            left: 22%;
            top: 180px;
            opacity: 0.6;
        }

        .task__insearch {
            padding-left: 40px;
            padding-right:0%;
            width: 69%;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="task__bar">

            <div class="task__bar_dashboard">Dashboard</div>
            <div class="analytics">Analytics</div>
            <div class="teams">Team</div>
            <div class="documents">Document</div>
            <div class="setting">
                <a class="aabout" href="{% url 'about/' %}">About</a>
            </div>
        </div>

        <!-- Main Task Panel -->
        <div class="main__task">
            <div class="tasker__welcome"> Hello {{request.user.username}}!</div>

            <form id = 'logout' class="" action="{% url 'logout/' %}" method="post">
              {% csrf_token %}
              <input type="hidden"/>
            </form>

            <div class="task__specification">
                Youve got <br/>
                <span> {{count}} </span>
                tasks today
            </div>


            <!-- search bar -->

            <form action = "{% url 'search' %}" method = "get" class = "task__search">
              <input type = "text" name = "search" class = "task__insearch"/>
              <button type = "submit" class="ssu">
                <img src="https://img.icons8.com/material-two-tone/24/000000/search.png"/>
              </button>
            </form>
            <a href="{% url '/homepage/' %}" class="baack">
                <img src="https://img.icons8.com/ios/24/000000/back--v1.png"/>
            </a> <!-- display all -->

            <div class="my__tasks">
                <div class="my__task__head">My Tasks</div>

                <div class="task__timeline">
                    <div class="recent__task ttask">Recent</div>
                    <div class="today__tas ttask">Today</div>
                    <div class="upcoming__task ttask">Upcoming</div>
                    <div class="Later__tasks ttask">Later</div>
                </div>

                <div class="task__list">

              {% for task in tasks.all %}

                    <div class="index__task" id="{{task.id}}">
                    <div type="button" class="remove__task"><a href = "{% url 'delete_task' task.id %}" class="rem__task">
                    <img src="https://img.icons8.com/color/28/000000/delete.png"/></a></div>
                        <div id="no__dis" show-info="{{task.id}}">{{task.id}}</div>

                        <h3 class="task__name"> {{task.taskName}} </h3>
                        <div class="task__description">{{task.date}}</div>
                        {{task.time}} <br/>
                        {{task.notes}}
                        <div class="trem">
                        <button type="button" name="button" class="toggle__remind">Remind Me</button>
                        </div>
                    </div>


              {% endfor %}
                </div>
            </div>
        </div>
<!-- about --> 
        <!-- Profile Section -->
        <div class="profile__section">
            <div class="user__profile">
                <div class="user__Image">
                    <img class="image__profile" src="https://instagram.fknu1-1.fna.fbcdn.net/v/t51.2885-19/s320x320/49858772_370951917023136_3559444689042014208_n.jpg?_nc_ht=instagram.fknu1-1.fna.fbcdn.net&_nc_ohc=zNW3iQFOvO4AX98zesa&tp=1&oh=a50c3ace215e958290400b3d98e7900f&oe=5FE78804"/>
                </div>

                <div class="user__detailss">
                    <div class="user__name">Deepak Singh</div>
                    <div class="user__designation">Programmer</div>
                </div>


                <div class="settings__icon" onclick="mysetting()">
                    <img src="https://img.icons8.com/small/20/000000/gear.png"/>
                </div>
                <div class="setting__tab" id="sstab">
                    <a href = "javascript:{document.getElementById('logout').submit()}" onclick="" class="text__onclick" id="ttxtt"> logout </a>
                </div>
            </div>


            <div class="project__time__tracker">
               <div class="text__time__tracker">
                Project time tracker <br /> <span class="hhtt">you can start tracking</span>
               </div>

                    <img class="play__button__icon" src="https://img.icons8.com/metro/26/000000/play.png"/>

            </div>

            <div class="calendar__events">
                <div class="date__cal">
                    <div class="date__cal__detail">
                        April 10, 2020
                        <br/>
                        <span class="hiic">Today</span>
                    </div>
                </div>

                <div class="add_task__buttons" onclick="myfunc()"> + Add Task</div>
            </div>


        </div>













        <!-- YYYYYYYYYYYYYYYaaaaaaaaaaaaaaaaaaaaassssssssssssssssshhhhhhhhhhhhhhhhhhhh -->
        <!-- idhar krna neeche se -->

        <!-- Add tas kfunctonality -->
        <div class="add__task__hove">
            <form class="container" id="ccnt" method = 'post' action="#" onsubmit="yourJsFunction();return false">
              {% csrf_token %}
                <div class="upper__container">

                    <div class="backwards" onclick="goback()">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="30" height="30"
                        viewBox="0 0 50 45"><path d="M 6.9804688 8.9902344 A 1.0001 1.0001 0 0 0 6.2929688 9.2929688 L 1.3808594 14.205078 A 1.0001 1.0001 0 0 0 1.3769531 15.792969 A 1.0001 1.0001 0 0 0 1.3828125 15.796875 L 6.2929688 20.707031 A 1.0001 1.0001 0 1 0 7.7070312 19.292969 L 4.4140625 16 L 28 16 A 1.0001 1.0001 0 1 0 28 14 L 4.4140625 14 L 7.7070312 10.707031 A 1.0001 1.0001 0 0 0 6.9804688 8.9902344 z"></path></svg>
                    </div>


                    <!-- task name is added here -->
                    {% if error %}
                      {{error}}
                    {% endif %}
                    <div class="add__task">Add Task</div>

                    <div class="task__name">{{ form.taskName.label_tag }}</div>

                    {{form.taskName}}

                </div>



                <div class="below__container">

                    <!-- task date is here -->
                    <div class="date__name">{{ form.date.label_tag }}</div>
                    <div class="date__data">
                        {{form.date}}
                        <div class="date__logo">

                        <img src="https://img.icons8.com/dotty/24/000000/calendar-16.png"/>
                        </div>
                    </div>

                    <!-- starting time here -->
                    <div class="time__name">{{form.time.label_tag}}</div>
                    <div class="time__data">
                        {{form.time}}
                        <div class="clock__icon">
                        <Time/>
                        </div>
                    </div>


                    <!-- add notes here -->
                    <div class="add__notesa">{{form.notes.label_tag}}</div>
                    <div class="notes__dataa">
                        {{form.notes}}

                        </div>
                    </div>



                    <div class="category">
                        <div class="cat__title">Category</div>
                        <div class="study">Study</div>
                        <div class="prod">Productive</div>
                        <div class="life">Life</div>
                    </div>


                    <button class="button__add" type="submit" value="Submit" >
                        <div class="plus__sign">+</div>
                        <div class="add__title">CREATE TASK</div>
                    </button>



                </div>

            </form>
        </div>









    </div>


    <script>

    for(let div of document.querySelectorAll('[show-info]')) {
        var ccc = div.innerHTML;


        if(ccc%4 === 1) {
            document.getElementById(ccc).style.backgroundColor = "#27272A";
            document.getElementById(ccc).style.color = "#8E8E8C";
        }
        if(ccc%4 === 2) {
            document.getElementById(ccc).style.backgroundColor = "#1E2E24";
            document.getElementById(ccc).style.color = "#2FCB56";

        }
        if(ccc%4 === 3) {
            document.getElementById(ccc).style.backgroundColor = "#1A2635";
            document.getElementById(ccc).style.color = "#147DFF";
        }
        if(ccc%4 === 0) {
            document.getElementById(ccc).style.backgroundColor = "#1D1C3F";
            document.getElementById(ccc).style.color = "#BF5AE7";
        }


    }



        function mysetting() {
            if(document.getElementById("sstab").style.height === "200px") {

            document.getElementById("sstab").style.height = "0px";
            document.getElementById("sstab").style.top = "30%";
            setTimeout(function() {document.getElementById("ttxtt").style.display = "none";}, 200);
            }
            else {

            document.getElementById("sstab").style.height = "200px";
            document.getElementById("sstab").style.top = "75%";
            setTimeout(function() {document.getElementById("ttxtt").style.display = "inline";}, 100);
            }
        }
        function myfunc() {
            document.getElementById("ccnt").style.right = "80px";
        }

        function goback() {
            document.getElementById("ccnt").style.right = "-350px";
        }

        document.querySelector(".button__add").addEventListener("click",
        function(e){
        })
    </script>
</body>
</html>
