<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700;900&family=Indie+Flower&family=Oxygen:wght@700&display=swap" rel="stylesheet"
</head>
<body>
    <!-- <img src="https://static-cse.canva.com/blob/142372/Patterns-3-03.jpg"/> -->
    <div class="signup__form">
        
        <div class="signup__head">
            SIGN UP
        </div>
        <form class="fill__form">
            <input type="text" placeholder="Username" size="35"/>
            <input type="text" placeholder="Password">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Phone Number">
        </form>

        <button class="sign__Up__button">SIGN UP</button>
    </div>
</body>
</html>