<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700;900&family=Indie+Flower&family=Oxygen:wght@700&display=swap" rel="stylesheet"
</head>
<body>
    <!-- <img src="https://static-cse.canva.com/blob/142372/Patterns-3-03.jpg"/> -->
    <div class="signup__form">

        <div class="signup__head">
            SIGN UP
        </div>
        {% if error %}
        {{error}}
        <br/>
        {% endif %}
        <form class="fill__form" method = 'post'>
            {% csrf_token %}
            <input type="text" placeholder="Username" size="35"/ name = "username">
            <input type="text" placeholder="Password" name = 'password'>
            <input type="text" placeholder="Email" name = "email">
            <input type="text" placeholder="Phone Number" name = "pno">
            <br/> <br/>
            <input class="sign__Up__button" type = "submit" value = "SIGN UP"/>
        </form>
    </div>
</body>
</html>
